page-calculator-details {
  .title{
    text-align: center;
    color: black;
  }
  ul,ol{
    padding-left: 1rem;
  }
  .option{
    border-radius: 4px;
  }
  ion-label{
    font-size: 1.3rem;
  }
  .card-content{
    margin-top: 8px;
    font-size: 1.2rem;
    font-style: italic;
    list-style: none;
    padding-bottom: 0;
    margin-bottom: 2px;
  }
  .result{
    font-style: italic;
    display: inline-block;
    margin-top: 5px;
  }
  .input{
    display: inline-block;
    weight: 80%;
  }
  .placeholder{
    display: inline-block;
    height: 20%;
    text-align: right;
  }
  .option{
    background-color: white;
    margin-bottom: 5px;
  }
  ion-content{
    position: relative;
  }
  .submit-button{
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    right: 5px;
    border-radius: 5px;
  }
}
