page-university {
  ion-card-content{
    color: white;
  }
  .list-element{
    margin-bottom: 5px;
  }
  #divMessage{
      height: 20px;
      margin-bottom: 10px;
  }
  #message{
      text-align: center;
      font-weight: bold;
      margin-top: 0px;
      font-size: 80%;
  }
}
